body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #FFD700; /* Soft goldenish-yellow color */
    font-family: "Playwrite DE Grund", cursive;
}

.name-font {
    font-family: "Dancing Script", cursive !important;
    font-weight: light;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #000; /* Black color for high contrast */

}

h1 {
    text-align: center;
    color: #000; /* Black color for high contrast */
    margin-top: 2rem;
    margin-bottom: 1.5rem;

    font-weight: 500;
    font-family: 'Great Vibes', cursive;
    font-size: 2.2rem;
}

h2 {
    font-family: 'Lobster', cursive;
    letter-spacing: 0.05rem;
    color: #000; /* Black color for high contrast */
    text-align: center;
    font-size: 1.8rem;
}

h3 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.05rem;
    color: #000; /* Black color for high contrast */
    text-align: center;
    font-size: 1.6rem;
}

p,
form {
    font-size: 1rem;
    color: #333; /* Dark gray color for high contrast */
    line-height: 1.6;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #000; /* Solid black color for sleek look */
    padding: 1rem 1rem;
    top: 0;
    display: flex;
    border-bottom: 1px solid #909090;
    z-index: 1000;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

nav ul li {
    margin-right: 0.1rem;
    width: auto;
}

nav ul li a {
    color: #fff; /* White color for high contrast */
    text-decoration: none;
    font-size: .5rem;
    padding: 0.25rem;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #333; /* Dark gray color for high contrast */
    color: #FFD700; /* Soft goldenish-yellow color */
    transform: translateY(0.3rem);
}

#hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1.25rem;
    text-align: center;
}

.hero-image {
    width: 85%;
    height: auto;
    border-radius: 50%;
    transition: opacity 1s ease-in-out 0.75s;
}

.hero-text {
    margin-top: 1rem;
    opacity: 0;
    transition: opacity 1s ease-in-out 1s;
}

.hero-text h1{
    font-size: 2rem;
}

.hero-section.loaded .hero-image,
.hero-section.loaded .hero-text {
    opacity: 1;
}

.content-section {
    min-height: 100vh;
    padding: 1.25rem;
    margin-top: 10%;
    background: #F5F5DC; /* Cream color for content section */
    border-radius: 1rem;
    box-shadow: 0.1rem 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(3.125rem);
    transition: all 0.5s ease;
    width: 100%;
    max-width: 75rem;
    display: block;
    overflow-x: auto;
}

.content-section.visible {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background-color: #000; /* Solid black color for sleek look */
    color: #fff; /* White color for high contrast */
    padding: 0.75rem;
    text-align: center;
    position: relative;
}

footer a {
    color: #FFD700; /* Soft goldenish-yellow color */
    text-decoration: none;
    margin: 0 0.625rem;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff; /* White color for high contrast */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
}

.article-content {
    display: none;
}

.article {
    break-inside: avoid;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s;
}

.article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*for tablets*/
@media (min-width: 768px) {
    .welcome {
        font-size: 1.5rem;
        display: block !important;
        color: #ff00ff;
    }

    .name-font {
        font-size: 5.75rem;
    }

    .hero-image {
        width: 65%;
        height: auto;
        border-radius: 50%;
        transition: opacity 1s ease-in-out 0.75s;
    }

    .hero-text h1{
        font-size: 4rem;
    }
    

    nav{
        backdrop-filter: blur(5rem);
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin-right: 1rem;
        width: auto;

    }

    nav ul li a {
        font-size: 0.75rem;

    }

    .content-section {
        padding: 3.75rem 1.25rem;
        margin-top: 5%;
    }

    footer {
        padding: 1.5rem;
    }

    .qualifications-div {
        column-count: 3;
        column-gap: 0.5rem;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .experience-div {
        column-count: 2;
        column-gap: 0.5rem;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .projects-div {
        column-count: 3;
        column-gap: 0.5rem;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

/*for computer*/
@media (min-width: 1200px) {
    .welcome {
        font-size: 3rem;
    }

    .hero-image {
        width: 40%;
        height: auto;
        border-radius: 50%;
        transition: opacity 1s ease-in-out 0.75s;
    }

    .hero-text {
        margin-top: 1.25rem;
        opacity: 0;
        transition: opacity 1s ease-in-out 1s;
    }


    nav {
        width: 15rem;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 3rem;
        backdrop-filter: blur(0rem);
        
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        
    }

    nav ul li {
        border-bottom: 1px solid black;
        /* for slight underline */
        

    }

    nav ul li a{
        font-size: 1rem;
        margin-bottom: 0.72rem;
    }

    #hero {
        padding-top: 6rem;
        margin-left: 15rem;
    }

    .content-section {
        width: 75%;
        margin-left: 19rem;
    }

    .qualifications-div {
        column-count: 3;
        column-gap: 0.5rem;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .experience-div {
        column-count: 2;
        column-gap: 0.5rem;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .projects-div {
        column-count: 3;
        column-gap: 0.5rem;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.welcome {
    text-align: left;
    width: 20%;
    display: none;
}

.vol,
.writer {
    border: 2px solid #000;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .8s ease;
}

.vol:hover,
.writer:hover {
    color: #ff00ff;
    border: 2px solid lightpink;

}